* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
    color: #FFFFFF;
}

body {
    font-family: JejuGothic, sans-serif;
    background-color: #BE1AC0;
    background: linear-gradient(180deg, #7C16A4 0%, #FF00B3 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

a {
    color: black;
}

h1 {
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 39%;
    text-align: center;
    vertical-align: middle;

}

h2 {
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 12%;
    text-align: center;
    vertical-align: middle;
}

form {
    background-color: #E379CC;
  
}

input {
    background-color: #ffffff;
    color: black;
    width: 334;
    height: 70;
    opacity: 1;
    top: 165px;
    left: 30px;
    
}

img {
    display: block;
     margin: auto;
    width: 310;
    height: 310;
    opacity: 1;
  
}

/* background: #000000;
background: #FFFFFF;
background: #E379CC; */