* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
    color: #FFFFFF;
}

body {
    font-family: JejuGothic, sans-serif;
    background-color: #65DEFF;
    background: linear-gradient(180deg, #0288ad 0%, #9ecfdd 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    color: aliceblue;
}

h1 {
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 39%;
    text-align: center;
    vertical-align: middle;

}

h2 {
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 12%;
    text-align: center;
    vertical-align: middle;
}

form {
    background-color: #E379CC;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    background-color: #ffffff;
    width: 334;
    height: 70;
    opacity: 1;
    top: 165px;
    left: 30px;
}

img {
    width: 310;
    height: 310;
    opacity: 1;
   
}


/* background: #000000;
background: #FFFFFF;
background: #E379CC; */